
$prim-color:#fefcfe;
$prid-color:#fefdfd;
$prib-color:#fefefb;
$sub-color: #665f60;
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	background: none;
	border: 1px solid #7d7a7c;
	font-family: 'PT Sans', sans-serif;
color:  #7d7a7c;
font-size: 20px;
font-style: italic;
padding: 15px 50px;
	display: inline-block;
	&:hover{
background: rgba($color: #000000, $alpha: 0.1);

	}
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	&:focus{
		
	}
}

textarea {

}
 p, ul {
	 margin: 0;
	 font-family: 'PT Sans', sans-serif;
 }